[flake8]
max-line-length = 88
extend-ignore = 
    W503,  # line break before binary operator (allowed in PEP8)
    E203   # whitespace before ':' (Black-compatible)
exclude =
    venv,
    migrations,
    __pycache__,
    .git,
    .github,
    .pytest_cache
