name: CI/CD
on:
  push:
    branches:
      - development
      - feature/*
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Flake8 lint
        run: |
          cd backend
          flake8 app tests

on:
  push:
    branches:
      - development
      - feature/*
  pull_request:
    branches:
      - development
